{# herite du fichier base.html.twig du dossier "admin" #}
{% extends 'baseSeconde.html.twig' %}

{% block title %}
Edition de l'annonce N {{carnet.id}}
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="my-5">Edition d'article : {{carnet.nom}} </h2>

    {{form_start(formEdit)}}
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Corriger l'article ?</h4>
                </div>
                <div class="card-body">
                {{ form_widget(formEdit) }}
                <button type="submit" class="btn btn-primary mt-4">
                <i class="fa fa-check"></i>
                Enregistrer les modifications
                </button>
                </div>
            </div>
        </div>

    </div>
   
    {{ form_end(formEdit)}}

<div>
{% endblock %}