{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %} 

{% block body %}

    <h3>Detail</h3>

                   {# {% for carnet in show %} #}
                   <div>
                              <h6 class="text-dark"> {{ show.nom }}</h6>
                              <h6 class="text-dark"> {{ show.telephone }}</h6>
                              <h6 class="text-dark"> {{ show.categorie }}</h6>
                              <h6 class="text-dark"> {{ show.email }}</h6>
                              <h6 class="text-dark"> {{ show.pays }}</h6>
                              <h6 class="text-dark"> {{ show.observation }}</h6>
                    </div>
              {# {% endfor %} #}

{% endblock %}